@import "../fonts/fonts.css";
@import "normalize.css";
@import "grid.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #626262;
}

a {
  text-decoration: none;
}

a img {
  display: block;
}

.logo img {
  width: 107px;
}

@media (min-width: 992px) {
  .logo img {
    width: 121px;
  }
}

header {
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  padding-top: 17px;
  padding-bottom: 15px;
  margin-bottom: 32px;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery {
  display: none;
  white-space: nowrap;
}

.delivery_mobile {
  display: flex;
  margin-top: 24px;
}

.delivery_mobile p {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: normal;
  font-size: 11px;
}

@media (min-width: 768px) {
  .delivery {
    display: block;
  }

  .delivery_mobile {
    display: none;
  }
}

.delivery input {
  padding: 9px 12px 7px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  line-height: 24px;
  font-size: 13px;
  width: 229px;
  margin-left: 2px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@media (min-width: 992px) {
  .delivery input {
    font-size: 16px;
    width: 272px;
  }
}

.delivery button {
  margin-right: 2px;
  line-height: 24px;
  font-size: 13px;
  font-weight: normal;
}

@media (min-width: 992px) {
  .delivery button {
    font-size: 16px;
  }
}

button {
  padding: 9px 12px 7px;
  line-height: 24px;
  font-weight: 500;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  color: #1d1d1d;
  cursor: pointer;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  button {
    font-size: 13px;
  }
}

.user {
  display: flex;
  align-items: center;
}

.cart {
  display: none;
}

@media (min-width: 768px) {
  .cart {
    display: inline-block;
    padding: 10px;
    margin-left: 16px;
  }

  .cart img {
    width: 19px;
    height: 22px;
  }
}

.sign_in {
  margin-right: 16px;
}

.register {
  background: #262626;
  color: #ffffff;
  border: 1px solid #262626;
}

.user button {
  min-width: 72px;
}

@media (min-width: 768px) {
  .user button {
    min-width: 80px;
  }
}

.search {
  width: 100%;
  padding: 8px 8px 16px 30px;
  line-height: 24px;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  background: url(../images/search.svg) 0 8px no-repeat;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .search {
    font-size: 16px;
  }
}

h2 {
  margin-top: 40px;
  margin-bottom: 14px;
  line-height: 34px;
  font-size: 22px;
  font-weight: normal;

  color: #1d1d1d;
}

@media (min-width: 768px) {
  h2 {
    margin-top: 56px;
    margin-bottom: 16px;
  }
}

.card {
  margin-bottom: 16px;
  padding-bottom: 20px;
  display: block;
  text-decoration: none;
}

.card:hover {
  background: rgba(117, 117, 117, 0.04);
}

.card__photo {
  width: 100%;
  margin-bottom: 14px;
}

.card__title {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 4px;
  color: #1d1d1d;
}

.card__desc {
  line-height: 21px;
  font-size: 14px;
  margin-bottom: 4px;
  color: #626262;
}

.card__time {
  line-height: 21px;
  font-size: 13px;
  color: #1d1d1d;
}

@media (min-width: 768px) {
  .card__photo {
    margin-bottom: 16px;
  }
}

.restaurants {
  margin-bottom: 48px;
}

@media (min-width: 992px) {
  .restaurants {
    margin-bottom: 80px;
  }
}

footer {
  background: #262626;
}

.footer__logo,
.footer__links,
.footer__mobile-app {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__logo {
  padding-top: 56px;
  padding-bottom: 40px;
}
.footer__links {
  padding-top: 32px;
  padding-bottom: 40px;
}

.footer__mobile-app {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.language-select {
  position: relative;
  margin-bottom: 32px;
}

.language-select:after {
  content: "";
  display: block;
  background: url(../images/select-chevron.svg) center no-repeat;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 8px;
}

select {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 2px;
  padding: 12px 12px 12px 48px;
  width: 100%;
  border: none;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  background: #3b3b3b url(../images/world.svg) 24px center no-repeat;
  cursor: pointer;

  /*for WebKit*/
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}

select::-ms-expand {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

nav a {
  font-size: 13px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 23px;
}

.hashtag {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;
  display: inline-block;
}

.hashtag span {
  color: #49a144;
}

.social {
  margin-bottom: 40px;
}

.social a {
  display: inline-block;
  margin-right: 12px;
}

.footer__mobile-app {
  text-align: center;
  white-space: nowrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__mobile-app a {
  display: inline-block;
  margin-right: 40px;
  width: 122px;
}

.footer__mobile-app a img {
  width: 122px;
}

@media (min-width: 768px) {
  .footer__mobile-app a img {
    width: 133px;
  }
}

.footer__mobile-app a:last-child {
  margin-right: 0;
}

.footer__copyright {
  padding-top: 40px;
  padding-bottom: 16px;
}

.footer__copyright a {
  display: inline-block;
  font-size: 11px;
  color: #ffffff;
  margin-bottom: 24px;
}

.top-link {
  width: 64px;
  height: 64px;
  border-radius: 2px;
  position: fixed;
  right: 16px;
  bottom: 24px;
  background: #59bd5a url(../images/arrow.svg) center no-repeat;
}

@media (min-width: 768px) {
  .top-link {
    width: 80px;
    height: 80px;
  }
}
